#article {
  margin:0;
  display:flex;

  img {
    animation: fadein 1s forwards;

    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
    color:#fff;
    border-radius:4px;
    height:145px;
    margin-right:1rem;
    cursor:pointer;
    user-select:none;
    
    &:hover{
      opacity:0.75;
    }
  }

  .video-info {
    position:absolute;
    margin-top:-3.2rem;
    margin-left:0.5rem;
    display:flex;
    align-content:center;
    justify-content:center;
    background-color: #C8282A;
    border: 1px solid #b51012;
    height:40px;
    border-radius:4px;
    padding:10px;
    cursor:pointer;
    &.hidden{
      display:none;
    }

    i {
      color:#fff;
      cursor:pointer;
    }
    label {
      color:#fff;
      margin-left:8px;
      cursor:pointer;
      user-select:text;
    }
  }


  #info {
    width:20vw;
    label {
      color: #b51012;
      font-weight: bold;
      user-select:text;
      cursor: text;
      &.commentCount {
        cursor: pointer;
      }

      span {
        margin: 0 0.5rem;
      }
    }
    h3 {
      text-decoration:none;
      cursor:pointer;
      user-select:text;
      &:hover {
        color: #4062bb;
        text-decoration: underline;
      }
    }

    .fa-comment {
      margin-right:5px;
      cursor:pointer;
      color: #b51012;
    } 
  }

}

//  Media Query
@media (max-width: 775px) {
  #article {
    display:flex;
    flex-direction: column;

    img {
      width:100%;
      height:100%;

    }

    .video-info {
      display:block;
      margin-top:-3.2rem;
      margin-left:0.5rem;


    }
  
    #info {
      width:100%;
      text-align:center;

      .labels {
        margin-top:1rem;
        color: #b51012;
        font-weight: bold;
        user-select:text;
  
        span {
          margin: 0 0.5rem;
        }
      }
      h3 {
        font-size:4vw;
      }
  
      .fa-comment {
        margin-right:5px;
      } 
    }
  }
  .line {
    margin-left:5rem;
  }
}

.commentCount {
  text-align:center;
  position:absolute;
  animation: fadeIn 0.8s;
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
}
