#article {
  margin:0;
  display:flex;
  flex-direction: row;
  text-align:left;

  label {
    color: #b51012;
    font-weight: bold;

    span {
      margin: 0 0.5rem;
    }
  }

  img {
    border-radius:4px;
    height:145px;
    cursor:pointer;
    &:hover{
      opacity:0.75;
    }

  }


  #info {
    width:20vw;

    h3 {
      text-decoration:none;
      cursor:pointer;
      &:hover {
        color: #4062bb;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 600px){
  }

}