$red: #b51012; // IGN Red
$nav-gray: #7c7d7d;

#feed-container {
  display:flex;
  flex-direction: row;
  margin-top:1.5rem;
  
  .feed-article {
    &.fade {
      animation: fadeOut 0.3s;
      @keyframes fadeOut {
        from { opacity: 1; }
        to   { opacity: 0; }
      }
    }
    animation: fadein 0.2s;

    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
  }


  #nav {
    margin-right:1.5rem;
    display:flex;
    flex-direction: column;
    .nav-btn {
     cursor:pointer;

      border:none;
      background-color:#fff;
      color:$nav-gray;
      padding: 12px 48px;
      border-radius: 4px;
      width:40vw;
      max-width:300px;
      font-size:24px;
      line-height:24px;
      text-align:left;
      label {
      cursor:pointer;

        margin-left:1.6rem;
      }

      &:hover {
        background-color:darken(#fff, 5);
        color:#000;
      }

      &.active {
        background-color:$red;
        color:#fff;
        font-weight:bold;
        i{
          color:#fff;
          font-weight:0;
        }
      }

      i {
        float:left;
        font-size:24px;
        margin-left:-0.8rem;
        line-height:22px;
        color:grey;
        font-weight: normal;
      }
    }
  }
}

